<!DOCTYPE html>
<html ng-app="sendgridWebhook">
  <head>
    <title>SendGrid JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <a href="#/createuser">Create User</a>
    <div ng-view></div>
  </body>

  <script src="//code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="javascripts/services/userService.js"></script>
  <script src="javascripts/controllers/createUser.js"></script>
</html>
